<!-- The Modal -->
<div class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div>Title</div>
        <form>
            <input type="text" placeholder="Leave a comment...">
        </form>
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>

</div>