<header>
    <div class="title">Monash Times</div>
</header>

<section class="main">
    <div class="container">
        
    </div>
</section>

<script type="text/javascript" src="/js/index.js"></script>