<header>
    <div class="title">Monash Times</div>
</header>

<section class="main">
    <div class="article">
        <div class="article-title">
            DreamWorks film banned in Vietnam depicting controversial Chinese map</div>
        <div class="article-body">Movie theatres in Vietnam are told to stop screening Abominable after some viewers
            complain about a scene featuring a map depicting China's "nine-dash line" in the South China Sea.</div>
    </div>
</section>